@import url(../section-title/section-title.css);
@import url(../section-subtitle/section-subtitle.css);
@import url(__iframes/video__iframes.css);
@import url(__iframe/video__iframe.css);

.video {
  padding: 100px  0 0 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
}
